Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file

